<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/core/src/com/orsyp/client/amex/AmexFileWatcher.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="C:\Users\administrator\Desktop\Projects\Amex\Extracts\GetSessionControlOnDeps_Original.log"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.orsyp.client.amex.AmexFileWatcher"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;C:\Users\administrator\Desktop\Projects\Amex\FileWatcher\new_format.csv&quot; &quot;C:\Users\administrator\Desktop\Projects\Amex\FileWatcher\config.conf&quot; &quot;C:\Users\administrator\Desktop\Projects\Amex\FileWatcher\test_data\ip_land_fake&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="core"/>
</launchConfiguration>
